<!doctype html>
<html>
<head>
	<title>Encrypt-R-us</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
        body {
			background-color: #000066;
            margin-top: 50px;
		}
	</style>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>

	<script>
		function htmlDecode(value) {
			return $('<div/>').html(value).text();
		}
	</script>
</head>
<body>